.navBar-logo {
  width: 145px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;

  & > img {
    height: 80%;
  }
}

.register-logIn-btns{
  width: 100%;
}

.box-btns{
  display: flex;
  gap: 10px;
  justify-content: right;
  @media screen and (max-width: 990px) {
    justify-content: center;
    gap: 80px;
  }
}