.navBar-logo {
  width: 145px;
  height: 100%;
  /* margin-top: 50px; */
  line-height: 50px;
  background-color: transparent;
  background-image: url(../../icons/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background: #255fa4; */
  /* border: solid black; */
}

.register-logIn-btns{
  /* border: solid black; */
  width: 100%;
}

.box-btns{
  display: flex;
  gap: 10px;
  justify-content: right;
  @media screen and (max-width: 950px) {
    justify-content: center;
    gap: 80px;
  }
}