*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.register-page{
  background-image: linear-gradient(#FFF, #7cc3c5);
  min-height: 100vh;
}
.register-bar {
    padding-top: 2rem;
    text-align: center;
}

.register-title{
    color: #3673be;
    font-size: 3.8rem;
    font-weight: bold;
}

.register-logo {
    background-image: url(../../icons/logo.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6rem;
    height: 6rem;

}

.register-full-form {
    gap: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    background-image: linear-gradient(#FFF, #7cc3c5);
    // width: 70vh;
    width: 90vh;
    padding: 3.5vh;
    justify-content: center;
    border-radius:1.5vh;
    box-shadow: 0px 0px 4px 0px #051d2c;
}

.register-form {
    justify-content: center;
    display: flex;
    gap: 2vh;
    // border: solid black;
}

.register-form-email{
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.register-row-email {
  position: relative;
  width: 82vh;
  height: 6vh;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    // border: none;
    border-radius: 5px;
    font-family: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: #f9f9f9;


    &:hover {
      border-color: #133c54;
    }


    &:focus {
      border-color: #133c54;
    }
  }

    &:hover {
      border-color: #133c54;
    }


    &:focus {
      border-color: #133c54;
    }
  

  &__label {
    position: absolute;
    left: 0.8rem;
    top: 0.85rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    font-size: 1rem;
    font-weight: 600;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: none;
  }

    .req {
      color: darkred;
      font-size: 1rem;
      margin: 3px;
    }
  
}

.register-row-email__input:focus~.register-row-email__label,
.register-row-email__input:not(:placeholder-shown).register-row-email__input:not(:focus)~.register-row-email__label {
  top: -0.8rem;
  font-size: 0.8rem;
  left: 0.8rem;

  .req {
    opacity: 0;
    font-size: 0px;
    margin: 0px;
  }
}

.register-row {
    position: relative;
    width: 40vh;
    height: 6vh;
    &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid gray;
      border-radius: 5px;
      font-family: inherit;
      font-size: inherit;
      color: black;
      outline: none;
      padding: 1.25rem;
      background: #f9f9f9;
  
      &:hover {
        border-color: #133c54;
      }
  
  
      &:focus {
        border-color: #133c54;
      }
    }
  
      &:hover {
        border-color: #133c54;
      }
  
  
      &:focus {
        border-color: #133c54;
      }
    
  
    &__label {
      position: absolute;
      left: 0.8rem;
      top: 0.85rem;
      padding: 0 0.5rem;
      color: black;
      cursor: text;
      font-size: 1rem;
      font-weight: 600;
      transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
      background-color: none;
    }
  
      .req {
        color: darkred;
        font-size: 1rem;
        margin: 3px;
      }
    
  }

.register-row__input:focus~.register-row__label,
.register-row__input:not(:placeholder-shown).register-row__input:not(:focus)~.register-row__label {
  top: -0.8rem;
  font-size: 0.8rem;
  left: 0.8rem;

  .req {
    opacity: 0;
    font-size: 0px;
    margin: 0px;
  }
}

// .register-input-file{
//   display: none;
//   width: 40vh;
//   height: 6vh;
// }
// .register-label-file{
//   color: black;
//   font-weight: bold;
//   cursor: pointer;
//   border-radius: 5px;
//   padding-right: 21.3vh;
//   padding-left: 2vh;
//   padding-top: 1.5vh;
//   padding-bottom: 1.2vh;
// }
.register-image{
  position: relative;
  border: white solid;
  background-color: transparent;
  background-image: url(../../icons/upload.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 4vh;
  height: 4vh;
  margin-left: 11rem;
  top: 0.4rem;
}

.register-row-file{
  width: 40vh;
  // width: 16.39rem;
  height: 6vh;
  // height: 2.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  background: #f9f9f9;
  // line-height: 6vh;

  &__label-tile{
    position: relative;
    top: -1.1rem;
    font-size: 0.8rem;
    left: 1.2rem;
    font-weight: bold;
    // border: solid red 1px;
  }
  &__input{
    display: none;
  }
  &__label{
    position: relative;
    top: -1.18rem;
    display: block;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    // border: solid red 1px;
    line-height: 6vh;
    padding-left: 1.16rem;
  }

  &__span{
    width: 100%;
    height: 100%;
  }
}

.register-row-file__input:focus~.register-row-file__label,
.register-row-file__input:not(:placeholder-shown).register-row-file__input:not(:focus)~.register-row-file__label {
  top: -0.8rem;
  font-size: 0.8rem;
  left: 0.8rem;

  .req {
    opacity: 0;
    font-size: 0px;
    margin: 0px;
  }
}

.register-error{
    color: #D8000C;
    text-align: center;
    font-size: 0.7rem;
}

.register-error-input,
.register-error-input:hover,
.register-error-input:focus{
  border: red 1px solid;
}

.register-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
  }

.register-footerCopyRights{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2.2vh;
}
