*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.register-page{
  background-image: linear-gradient(#FFF, #7cc3c5);
  min-height: 100vh;
  @media screen and (max-width: 920px) {
    min-height: 170vh;
    min-width: 115vh;
  }
  @media screen and (max-width: 450px) {
    min-height: 50vh;
    min-width: 41vh;
  }
}
.register-bar {
    padding-top: 1.5rem;
    text-align: center;
}

.register-title{
    color: #3673be;
    font-size: 3.8rem;
    font-weight: bold;
}

.register-logo {
    background-image: url(../../icons/logo.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6rem;
    height: 6rem;

}

.register-full-form {
    gap: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    background-image: linear-gradient(#7cc3c5, #FFF);
    width: 114vh;
    padding: 3.5vh;
    justify-content: center;
    border-radius:1.5vh;
    box-shadow: 0px 0px 4px 0px #051d2c;
    @media screen and (max-width: 920px) {
      background: none;
      box-shadow: none;
    }
    @media screen and (max-width: 450px) {
      background: none;
      box-shadow: none;
      width: 10vh;
      gap: 3vh;
    }
}

.register-form-name-lastnames {
    justify-content: center;
    display: flex;
    gap: 2vh;
    @media screen and (max-width: 725px) {
      flex-direction: column;
      gap: 4vh;
    }
}

.register-form-row{
  justify-content: center;
  display: flex;
  gap: 2vh;
  @media screen and (max-width: 725px) {
    flex-direction: column;
    gap: 4vh;
  }
}

.register-row-name-lastnames {
  position: relative;
  width: 35vh;
  height: 8vh;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: #f9f9f9;

    &:hover {
      border-color: #133c54;
    }

    &:focus {
      border-color: #133c54;
    }
  }

    &:hover {
      border-color: #133c54;
    }

    &:focus {
      border-color: #133c54;
    }
  
  &__label {
    position: absolute;
    left: 0.8rem;
    top: 1.2rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    font-size: 1rem;
    font-weight: 600;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: none;
    @media screen and (max-width: 920px) {
      top: 1rem;
      font-size: 1rem;
    }
    @media screen and (max-width: 725px) {
      top: 1.2rem;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 450px) {
      top: 0.8rem;
      font-size: 1rem;
    }
  }

    .req {
      color: darkred;
      font-size: 1rem;
      margin: 3px;
    }
    @media screen and (max-width: 920px) {
      width: 32vh;
      height: 5vh;
    }
    @media screen and (max-width: 725px) {
      width: 43vh;
      height: 6vh;
    }
    @media screen and (max-width: 450px) {
      width: 40vh;
      height: 5.5vh;
    }
  
}

.register-row-name-lastnames__input:focus~.register-row-name-lastnames__label,
.register-row-name-lastnames__input:not(:placeholder-shown).register-row-name-lastnames__input:not(:focus)~.register-row-name-lastnames__label {
  top: -0.8rem;
  font-size: 0.8rem;
  left: 0.8rem;

  .req {
    opacity: 0;
    font-size: 0px;
    margin: 0px;
  }
  @media screen and (max-width: 920px) {
    top: -1.3rem;
    font-size: 1.2rem;
    left: 0.8rem;
  }
  @media screen and (max-width: 450px) {
    top: -1rem;
    font-size: 0.8rem;
    left: 0.6rem;
  }
}

.register-row {
    position: relative;
    width: 53.5vh;
    height: 8vh;
    select{
      padding: 0px;
      padding-left: 1rem;
    }
    &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid gray;
      border-radius: 5px;
      font-family: inherit;
      font-size: inherit;
      color: black;
      outline: none;
      padding: 1.25rem;
      background: #f9f9f9;
  
      &:hover {
        border-color: #133c54;
      }
  
  
      &:focus {
        border-color: #133c54;
      }
    }
  
      &:hover {
        border-color: #133c54;
      }
  
  
      &:focus {
        border-color: #133c54;
      }
    
    &__label {
      position: absolute;
      left: 0.8rem;
      top: 1.2rem;
      padding: 0 0.5rem;
      color: black;
      font-size: 1rem;
      font-weight: 600;
      transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
      background-color: none;
      // @media screen and (max-width: 920px) {
      //   top: 1.2rem;
      //   font-size: 1.5rem;
      // }
      @media screen and (max-width: 450px) {
        top: 0.8rem;
        font-size: 1rem;
      }
    }
  
      .req {
        color: darkred;
        font-size: 1rem;
        margin: 3px;
      }
      @media screen and (max-width: 920px) {
        width: 49vh;
        height: 5vh;
      }
      @media screen and (max-width: 450px) {
        width: 40vh;
        height: 5.5vh;
      }
  }

.register-row__input:focus~.register-row__label,
.register-row__input:not(:placeholder-shown).register-row__input:not(:focus)~.register-row__label {
  top: -0.8rem;
  font-size: 0.8rem;
  left: 0.8rem;

  .req {
    opacity: 0;
    font-size: 0px;
    margin: 0px;
  }
  @media screen and (max-width: 920px) {
    top: -1.3rem;
    font-size: 1.2rem;
    left: 0.8rem;
  }
  @media screen and (max-width: 450px) {
    top: -1rem;
    font-size: 0.8rem;
    left: 0.6rem;
  }
}

.register-user-icon{
  width: 2.5vh;
  height: 2.5vh;
}
.register-profile-title{
  color: black;
  font-size: 3vh;
  font-weight: bold;
}

.register-image{
  width:120px;
  height:120px; 
}

.preview_image{
  width:120px;
  height:120px; 
  border-radius: 100px;
  background-color: lightgray;
  border: none;
  text-decoration: none;
  // display: none;
  // position:relative; 
  // // top: 0.4rem;
}
.register-row-file{
  width:120px;
  height:120px;
  width: 53.5vh;
  height: 8vh;

  &__label-tile{
    position: relative;
    top: -1.1rem;
    font-size: 0.8rem;
    left: 1.2rem;
    font-weight: bold;
    @media screen and (max-width: 920px) {
      top: -1.1rem;
      font-size: 1.4rem;
    }
  }

  &__input{
    display: none;
  }
  &__label{
    position: relative;
    top: -1.18rem;
    display: block;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: solid red 1px;
    padding-left: 1.16rem;
    padding: 1.25rem;
    border: 1px solid gray;
    border-radius: 5px;
    background: #f9f9f9;
    @media screen and (max-width: 920px) {
      padding: 0.59rem;
      font-size: 1.5rem;
      padding: 1rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 1rem;
      padding: 0.8rem;
    }
  }

  &__span{
    width: 100%;
    height: 100%;
    @media screen and (max-width: 780px) {
      font-size: 1.3rem;
    }
  }

  &__span2{
    position: relative;
    top: -0.3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subLabel{
    cursor: pointer;
  }

  &__register-upload-icon{
    width: 2.5vh;
    height: 2.5vh;

  }
  @media screen and (max-width: 920px) {
    width: 31vh;
    height: 5vh;
  }
  @media screen and (max-width: 450px) {
    width: 40vh;
    height: 5.5vh;
  }
}

.register-error{
    color: #D8000C;
    text-align: center;
    font-size: 0.7rem;
}

.register-error-input,
.register-error-input:hover,
.register-error-input:focus{
  border: red 1px solid;
}

.register-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
  }

.register-footerCopyRights{
    position: relative;
    bottom: 0;
    color: white;
    margin-top: 1rem;
    font-size: 2.2vh;
}
